<html  ng-app="pollApp">
<head>
  <title>AngularJS et Socket.io en pratique !</title>

  <!-- Librairies javascript -->
  <script src="/js/angular.min.js"></script>
  <script src="/js/Chart.min.js"></script>
  <script src="/js/angular-chart.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.min.js"></script>


  <!-- Controlleur du sondage -->
  <script src="/ctrl/poll.js"></script>

  <!-- Feuille de style pour les graphiques -->
  <link rel="stylesheet" href="/css/angular-chart.min.css">
</head>
<body ng-controller="pollCtrl" data-ng-init="init()">

  <!-- Boutons de réponse -->
  <div ng-repeat="label in chartLabels track by $index">
    <button ng-click="send($index)">{{ label }}</button>
  </div>

  <hr/>
  <button ng-click="reset()">reset poll</button>

  <!-- Graphique -->
  <div ng-if="chartData">
    <canvas id="chart" class="chart chart-doughnut"
      chart-data="chartData"
      chart-labels="chartLabels"
      chart-legend="true"></canvas>
  </div>

</body>
</html>
